@model News
    <link rel="stylesheet" href="~/css/table.css" />
    <div class="container">
        <div class="jumbotron">
            <h2>Bora News @Model.Title</h2>
        </div>
        <div align="right"><b>@Model.CreatedDate</b></div>
        <div>
            <div>
                <h3>@Model.Detail</h3>
            </div>
            <table class="table">                                
                    <tr>                                                                                                                                                    
                        <td>                                                   
                            <div>
                                <img src="/images/@Model.Image" width="500px">
                            </div>                                                    
                        </td>                                              
                    </tr>                                     
            </table>            
        </div>
    </div>